@import '../../styles/color.scss';

.container {
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 40px;

  margin-top: -196px;
}

.content {
  box-shadow: 0px 0px 10px 7px rgba(0, 0, 0, 0.22);
  padding: 20px 16px;
  border-radius: 8px;
  background: $gray-500;
  display: flex;
  justify-content: center;
  flex-direction: column;

  h1 {
    color: $gray-800;
    text-align: center;
    margin-bottom: 24px;
  }

  ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 24px;
  }

  li {
    max-width: 400px;
  }
}

.modal {
  background: $white;
  display: grid;
  border-radius: 12px;
  min-height: 480px;

  img {
    height: 100%;
    max-height: 400px;
    width: 400px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
}

.description {
  padding: 16px;
  background: $gray-400;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .price {
    display: flex;
    justify-content: space-between;
    
  


    button {
      display: flex;
      align-items: center;
      color: $white;
      font-weight: bold;
      border-radius: 7px;
      padding: 8px;
      border: 0;
      background-color: $green-500;
      font-size: 20px;
      transition: filter 0.4s;
      

      &:hover {
        filter: brightness(0.9);
      }
  

    }
  }

  h2 {
    color: $gray-800;  }

  p {
    font-size: 20px;
    color: $gray-700;
    margin-top: 16px;
  }

  strong {
    align-self: flex-end;
    display: block;
    font-size: 24px;
    font-weight: bold;
    color: $green-500;


  }
}