$white: #fff;
$black: #000;
$blue-400: #0099d0;
$blue-500: #0073bc;
$green-500: #00a84e;
$orange-500: #f2a453;
$gray-400: #e8e7ef;
$gray-500: #d1d3d8;
$gray-600: #7a8082;
$gray-700: #5a5768;
$gray-800: #3c374e;
$gray-900: #646781;
