@import './color.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none; //Não deixar copiar nenhum texto
  font-family: 'Roboto', sans-serif;
}

body {
  background: #fff;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6, strong {
  font-weight: 500;
}

button {
  cursor: pointer;
}


